body{
    height: 100vh !important;
    
    text-align: center;
    color: #f5f5f5;

    padding-left: -100px;
    margin: 0 auto;

    overflow: hidden;
    background: linear-gradient(to right,  #5a586e,  #3f3d56);
} 
.header{
    position: relative;
    width: 300px;
    margin: 0 auto;
    color: white;
}

.header .header_image{
    width: 300px;
    margin: 0 auto;
}
.header .header_title{
    position: absolute;
    top: 0%;
    left: -13%;

    font-size: 35px;
    font-weight: 700;
}
.header .header_subtitle{
    position: absolute;
    bottom: 0%;
    right: -18%;

    font-size: 25px;
    font-weight: 700;
}

.menu-container{
    max-width: 1440px;
    height: auto;
}

.menu-container .button{
    display: grid;
    grid-template-columns: 2;

    text-align: center;

    margin-bottom: 15px ;
}

.menu-container .ilustration{
    height: 100px;
    width: 100px;
    margin: 0 auto;
  
    box-shadow: black 3px 3px 5px 1px;

    cursor: pointer;
}  

.menu-container .button_title{
    color: white;
    font-size: 16px;
}

.content_container .container_section{
    position: absolute;
    width: 100%;
    height: 30vh;
    background: #413e5c;
    visibility: hidden;
}

.image_and_video--add_element, .documentation--add_element, .design--add_element, .font--add_element, .illustration--add_element, .logo--add_element, .front_and_back--add_element, .usefull_link--add_element{
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;

    text-align: center;
}

.fa-trash{
    color: black;
}

input{ 
    border:0;
    border-bottom:1px solid #EEB80B;  
    background:transparent;
    width: 35%;
  
    font-size: 15px;
    color: #fcfcfc;  
}

input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid#EEB80B;	
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#EEB80B;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #EEB80B;
}
  
input::-ms-input-placeholder { /* Microsoft Edge */
    color:#EEB80B;
}

ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    height: 25vh;
    width: 50%;
    padding: 0;
    margin-top: 20px auto 0px auto;

    overflow-y: scroll;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: auto;
    list-style-type: none;

    margin: 8px 4px;
    padding: 8px;

    font-size: 17px;
    text-align: center;

    background-color: #d1b654;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 10px;
   
    text-decoration: none;
}
li a {
    width: auto;
    
    text-decoration: none !important;
    color: rebeccapurple;
    font-weight: 400;

    font-size: 25px;
}
li a:hover{
    color: rgb(138, 34, 187)
}

li i{
    width: auto;
    cursor: pointer;
    font-size: 25px;
}
.content_container .add--button{
    position: relative;

    padding: 10px;
    margin: 5px;

    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    color: rgba(255, 255, 255, 0.4);
    background-color:  #342f64;

    border: none;
    transition: 0.5s;
}

.add--button:hover{
    color: rgba(255, 255, 255, 1);
}

.add--button span{
    display: block;
    position: absolute;
    background: #f0d16e;
}

.add--button span:nth-child(1){
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.add--button:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.add--button span:nth-child(2){
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.add--button:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.add--button span:nth-child(3){
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.add--button:hover span:nth-child(3){
    transform: scaleX(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.add--button span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.add--button:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}
footer{
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 5vh;

    text-align: center;
    font-size: 20px;

    background-color: #413e5c;
}
footer .made_by {
    font-size: 25px;
    
    text-decoration: none !important;
    color: white;
}
.made_by:hover {
    color: #f0d16e;
}

@media only screen and (max-width: 768px) {
    ul{
        width: 100%;
    }
}